@using EntityLayer.Concrete
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="col-sm-12 badge badge-dark">
            <h1>Yazarlar Listesi</h1>
            <a href="/Writer/AddWriter" class="btn btn-info col-12">Yazar Ekle</a>
        </div>

        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light" style=" width: 100%; height: 100%; object-fit: cover; display: block; margin: 0 auto;">
                                <div class="card-header text-muted border-bottom-0">
                                    @item.WriterTitle
                                </div>
                              
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.WriterName @item.WriterSurName</b></h2>
                                            <p class="text-muted text-sm"><b>Hakkında: </b> @item.WriterAbout</p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span><b>Mail:</b>  @item.WriterMail</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img style=" border-radius: 50%; height: 130px; width: 130px; object-fit: cover;" src="@item.WriterImage" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments">Yazar Başlıkları</i>
                                        </a>
                                        <a href="/Writer/EditWriter/@item.WriterID" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> Profili Düzenle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </section>
    <div style="display: flex; justify-content: center; margin-top: 1px;">
        @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
           {
               LiElementClasses = new List<string>
               { "page-item"}
           })
    </div><br />
</body>
</html>